.card{
    margin: 10%;
    padding: 1.75%;
}
img{
    width: 180px;
    border-radius: 50%;
    padding: 5%;
}
.label{
    margin-bottom: 0;
    margin-top: auto;
}
.area{
    display: grid;
    grid-template-columns: auto auto auto;
}
.area1{
    margin: 2%;
    grid-column-start: 1;
    grid-column-end: 3;    
}
.area2{
    margin: 2%;
    text-align: center;
    grid-column-start: 3;
    grid-column-end: 4;
}
.button{
    background-color: rgb(47, 29, 75);
    color: white;
    text-align: center;
    height: 60%;
    width: 60%;
    margin: auto;
    border-radius: 10px;
    border-color: rgb(213, 209, 240)
}
.button:hover{
    background-color: rgb(170, 176, 224);
    color: rgb(255, 255, 255);
}